<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    OPENsourceTENNIS
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/modal.css' />
  <link rel='stylesheet' href='/css/productos.css' />
  <link rel='stylesheet' href='/css/partials/1header.css' />
  <link rel='stylesheet' href='/css/partials/2footer.css' />
  <link rel="stylesheet" href="/css/carrito.css">

</head>

<body>
  <%- include('./partials/1header.ejs') %>

    <main>
      <h1>🛒 Tu carrito</h1>

      <div class="" id="items_grid">
        <% productos.forEach((producto)=> { %>
          <div class=" navs nav_raquetas estoy_en_carro" data-id="<%= producto.id %>" id="<%= producto.id %>">
            <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
            <p>
              <%= producto.nombre %>
            </p>
            <span>$<%= producto.precio %></span>
            <button class="btn_agregar1" data-id="<%= producto.id %>">Agregá 1</button>
            <button class="btn_quitar1" data-id="<%= producto.id %>">Sacas 1?</button>
            <button class="btn_eliminarTodos" data-id="<%= producto.id %>">Eliminar TODOS</button>
            <span class="cantidad" data-id="<%= producto.id %>">Cantidad: 0</span>
          </div>
          <% }) %>
      </div>
      <div class="no_productos_carro displayNone" id="no_productos_carro"> No tienes productos en tu Carrito</div>

      <!--a Controlador de Carrito, via js:  -->
      <form class="formPagar" action="/carrito/pagar" method="post">
        <input type="hidden" name="nombreUsuario" id="inputUsuario">
        <input type="hidden" name="productosParaPagar" id="inputProductos">
        <button class="btnPagar" type="submit">PAGAR</button>
      </form>
      <div class="modal_confirmacion displayNone" id="modal_pagar">
        <div class="contenidoModal">
          <p>Confirmar Pago?</p>
          <button type="button" class="btn_confirmar_modal btn_agregar1">Confirmar</button>
          <button type="button" class="btn_cerrar_modal btn_agregar1">Cancelar</button>
        </div>
      </div>
      <div id="paginacion" class="paginacion displayNone">
        <button id="btn_anterior">Anterior</button>
        <button id="btn_siguiente">Siguiente</button>
      </div>
    </main>

    <%- include('./partials/2footer.ejs') %>
      <script src="/js/item.js"></script>
      <script src="/js/productos.js"></script>
      <script src="/js/carrito.js"></script>
      <script src="/js/header.js"></script>
      <script src="/js/footer.js"></script>
      <script src="/js/btn_pagar.js"></script>
</body>

</html>