<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    OPENsourceTENNIS
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/partials/1header.css' />
  <link rel='stylesheet' href='/css/partials/2footer.css' />
  <link rel="stylesheet" href="/css/carrito.css">
  <link rel='stylesheet' href='/css/modal.css' />

</head>

<body>
  <%- include('./partials/1header.ejs') %>

    <main>
      <h1>🛒 Tu carrito</h1>

      <div id="carrito" class="carrito">
        <% productos.forEach((producto)=> { %>
          <div class="item">
            <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
            <p>
              <%= producto.nombre %>
            </p>
            <span>$<%= producto.precio %></span>
            <span class="cantidad" data-id="<%= producto.id %>">Cantidad: 0</span>
            <button class="btn_agregar1" data-id="<%= producto.id %>">+1</button>
            <button class="btn_quitar1" data-id="<%= producto.id %>">-1</button>
            <button class="btn_eliminarTodos" data-id="<%= producto.id %>">Eliminar TODOS</button>
          </div>
          <% }) %>
      </div>

      <!--a Controlador de Carrito, via js:  -->
      <form class="formPagar" action="/carrito/pagar" method="post">
        <input type="hidden" name="nombreUsuario" id="inputUsuario">
        <input type="hidden" name="productosParaPagar" id="inputProductos">
        <button class="btnPagar" type="submit">PAGAR</button>
      </form>
      <div class="modal_confirmacion displayNone" id="modal_pagar">
        <p>Confirmar Pago?</p>
        <button type="button" class="btn_confirmar_modal">Confirmar</button>
        <button type="button" class="btn_cerrar_modal">Cancelar</button>
      </div>
    </main>

    <%- include('./partials/2footer.ejs') %>
      <script src="/js/item.js"></script>
      <script src="/js/carrito.js"></script>
      <script src="/js/header.js"></script>
      <script src="/js/footer.js"></script>
      <script src="/js/btn_pagar.js"></script>
</body>

</html>