<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    OPENsourceTENNIS
  </title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel='stylesheet' href='/css/productos.css' />
  <link rel='stylesheet' href='/css/partials/1header.css' />
  <link rel='stylesheet' href='/css/partials/2footer.css' />
</head>

<body>
  <!-- Header: es estático. Solo muestra logo y titulo -->
  <%- include('./partials/1header.ejs') %>

    <main>
      <div id="items_grid">
        <% producto.forEach((p)=> { %>
          <% if (p.activo){ %>
            <div class="navs nav_raquetas">
              <p class="nombre">
                <%= p.nombre %>
              </p>
              <p class="descripcion">
                <%= p.descripcion %>
              </p>
              <a href="/productos/<%=tipo%>/<%= p.id%>">
                <img class="nav_img_raquetas" src="<%= p.imagen %>" alt="<%= p.nombre %>">
              </a>
              <p class="precio">$<%= p.precio %>
              </p>
              <button class="btn_agregar1" data-id="<%= p.id %>">Agregar al Carrito</button>
              <span class="cantidad" data-id="<%= p.id %>">Cantidad: 0</span>
            </div>
            <% } %>
              <% }) %>
      </div>
    </main>

    <!-- Footer: es estático. Solo muestra logo y titulo / y en Desk muestra links a redes etc -->
    <%- include('./partials/2footer.ejs') %>


      <script src="/js/item.js"></script>
      <script src="/js/footer.js"></script>
</body>

</html>