<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ticket</title>
  </head>
  <body>
    <h1>Ticket de la compra</h1>
    <p>Número de ticket: <%= ticket.idticket %></p>
    <p>Fecha: <%= ticket.fechaCompra %></p>
    <p>Nombre del cliente: <%= ticket.nombreCliente %></p>
    <P>Productos:</P>
    <ul>
      <% ticket.productos.forEach(prod => { %>
          <li>
            <strong><%= prod.nombre %></strong>  
            - Precio: <%= prod.precio %>  
            - Cantidad: <%= prod.cantidad %>
          </li>
      <% }) %>
    </ul>
    <p>medioPago: <%= ticket.medioPago %></p>


    <% if(ticket.esVista === true) { %>
    <a href="http://localhost:3000/tickets/pdf?ids=<%= ticket.idticket %>" target="_blank">
      Descargar Ticket</a
    >
    <% } %>
  </body>
</html>